
*{
    font-family: poppins;

}
.body{
    background-color: #516395;
}
.home-help{
    width: 93%;
    height: 400px;
    background-color: #516395;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.help1{
    width: 47%;
    height: 370px;
    background-color: #516395;
}

.help2{
    width: 47%;
    height: 370px;
    /* background: #b97979; */
}
.help2 h2{
    color: white;
    font-size: 35px;

}
.help2 h3{
    font-size: 25px;
    font-family: poppins;
    color: white;

    padding-block: 10px;
}
.home3{
    width: 93%;
    margin: auto;
    color: azure;
    background-color: #516395;
    padding-inline: 34px;
    padding-bottom: 20px;

}
.home3 p{
    font-size: 30px;
}

.carousel{
    width: 90%;
}